// OVERALL COLOR
$color-1: #210c52;
$color-2: #12072b;
$color-3: #844fff;
$color-4: #4705e3;

// BG color
$N-color-1: #d2ece0;
$N-color-2: #04000d;

// GRID

$grid-1: 6rem;

// WIDTH

$max-width: 114rem;
